* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Spartan', sans-serif;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.5rem;
    text-align: center;

}
.hidden {
    display: none;
}

body {
    background: slategray;
    color: white;
}

body h1 {
    margin: 25px;
}

body p{
    font-weight: 700;
}

.controlButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px 50px;

}

.controlButtons button {
    padding: .5rem;
    margin: 0px 10px;
    border-radius: 35px;
    text-decoration:none;
    text-align:center;
    transition: all .2s;
    color:#FFFFFF;
    background-color: #4eb5f1;
    font-size: 1.2rem;
    font-weight: 600;

}

.controlButtons button:hover {
    background-color:#4095c6;
    cursor: pointer;
}


#mistakes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px 0px;
    font-size: 1.2rem;
    font-weight: 650;
}

button {
    margin: 10px 25px;
    border-radius: 10px;
    width:125px;
    height:70px;
    margin:2px;
    background: #DEAAFF;
    border: none;
    
}
.gameButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.gameButtonContainer button{
    width:150px;
    height:150px;
    margin:2px 10px;
    color: white;
    font-size: 2.5rem;
}



#button1 {
    background: #F72585;
    transition: all .2s;

}

#button2 {
    background: #B5179E;
    transition: all .2s;

}
#button3 {
    background: #7209B7;
    transition: all .2s;

}
#button4 {
    background: #560BAD;
    transition: all .2s;

}
#button5 {
    background: #480CA8;
    transition: all .2s;

}
#button6 {
    background: #3A0CA3;
    transition: all .2s;

}
#button7 {
    background: #3F37C9;
    transition: all .2s;

}
#button8 {
    background: #4361EE;
    transition: all .2s;

}
#button9 {
    background: #4895EF;
    transition: all .2s;

}

#button10 {
    background: #4CC9F0;
    transition: all .2s;

}

#button1:active, #button1.lit{
    background: white;
    color: black;
}
#button2:active, #button2.lit {
    background: white;
    color: black;
}

#button3:active, #button3.lit {
    background: white;
    color: black;
}

#button4:active, #button4.lit {
    background: white;
    color: black;
}
#button5:active, #button5.lit {
    background: white;
    color: black;
}
#button6:active, #button6.lit {
    background: white;
    color: black;
}
#button7:active, #button7.lit {
    background: white;
    color: black;
}
#button8:active, #button8.lit {
    background: white;
    color: black;
}
#button9:active, #button9.lit {
    background: white;
    color: black;
}
#button10:active, #button10.lit {
    background: white;
    color: black;
}

#button1:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}
#button2:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}
#button3:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}
#button4:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button5:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button6:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button7:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button8:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button9:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}

#button10:hover {
    cursor: pointer;
    width:160px;
    height:160px;
    transition: all .2s;
}


